.apt_generated
.classpath
.project
.factorypath
.settings
.DS_Store
.gradle
.externalToolBuilders
.idea
.svn
.derived
bin
out
#*#
*~
*.iml
Distribution
build
eclipseBuild
node_modules
npm-debug.log
local
target
ear
logs
local.properties
